In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import minimize
from WindPy import w
from sklearn.linear_model import LinearRegression
import datetime
%matplotlib inline

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [3]:
end_date = datetime.datetime.today() - datetime.timedelta(2)
start_date = end_date - datetime.timedelta(14)

# 获取债券指数历史收益率和久期

In [4]:
# codes = 'CBA00111.CS, CBA00121.CS, CBA00131.CS, CBA00141.CS, CBA00151.CS'
codes = 'CBA02711.CS, CBA02721.CS, CBA02731.CS, CBA02741.CS, CBA02751.CS'

In [5]:
data = w.wsd(codes, 'close', start_date, end_date)

In [6]:
data

.ErrorCode=0
.Codes=[CBA02711.CS,CBA02721.CS,CBA02731.CS,CBA02741.CS,CBA02751.CS]
.Fields=[CLOSE]
.Times=[20191118,20191119,20191120,20191121,20191122,20191125,20191126,20191127,20191128,20191129,...]
.Data=[[169.0186,169.0383,169.0675,169.089,169.1218,169.1794,169.2026,169.2281,169.2456,169.2667,...],[179.7052,179.7646,179.8253,179.9102,179.9443,180.0208,180.0384,180.0805,180.1175,180.1372,...],[191.9756,192.0989,192.2244,192.3557,192.4006,192.4775,192.514,192.5332,192.5866,192.6186,...],[201.8208,201.9334,202.1444,202.2588,202.3198,202.4458,202.4893,202.5182,202.4917,202.4796,...],[192.052,192.0856,192.2716,192.3676,192.4495,192.5951,192.6115,192.6276,192.5365,192.431,...]]

In [7]:
df = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=data.Codes)

In [8]:
df.head()

            CBA02711.CS  CBA02721.CS  CBA02731.CS  CBA02741.CS  CBA02751.CS
2019-11-18     169.0186     179.7052     191.9756     201.8208     192.0520
2019-11-19     169.0383     179.7646     192.0989     201.9334     192.0856
2019-11-20     169.0675     179.8253     192.2244     202.1444     192.2716
2019-11-21     169.0890     179.9102     192.3557     202.2588     192.3676
2019-11-22     169.1218     179.9443     192.4006     202.3198     192.4495

In [9]:
rdf = df.pct_change().dropna()

In [10]:
rdf.head()

            CBA02711.CS  CBA02721.CS  CBA02731.CS  CBA02741.CS  CBA02751.CS
2019-11-19     0.000117     0.000331     0.000642     0.000558     0.000175
2019-11-20     0.000173     0.000338     0.000653     0.001045     0.000968
2019-11-21     0.000127     0.000472     0.000683     0.000566     0.000499
2019-11-22     0.000194     0.000190     0.000233     0.000302     0.000426
2019-11-25     0.000341     0.000425     0.000400     0.000623     0.000757

In [11]:
data = w.wss(codes, 'duration', 'tradeDate=%s'%(end_date.strftime('%Y%m%d')))

In [12]:
duration = np.array(data.Data[0])

In [13]:
duration

array([0.54229999, 2.04089999, 3.57139993, 5.05779982, 6.68739986])

# 获取债券基金历史收益率

In [14]:
fund_df = pd.read_excel(u'../data/债券基金池.xlsx')

In [15]:
fund_df

          代码           名称
0  002549.OF      嘉实稳祥纯债A
1  004544.OF       嘉实稳华纯债
2  070037.OF        嘉实纯债A
3  519723.OF      交银双轮动AB
4  000147.OF   易方达高等级信用债A
5  003358.OF  易方达7-10年国开行
6  070009.OF        嘉实超短债

In [16]:
codes = fund_df[u'代码'].tolist()

In [17]:
data = w.wsd(codes, 'nav', start_date, end_date)

In [18]:
fdf = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=data.Codes)

In [19]:
fdf.head()

,002549.OF,004544.OF,070037.OF,519723.OF,000147.OF,003358.OF,070009.OF
2019-11-18,1.1868,1.0781,1.156,1.076,1.124,1.0627,1.0494
2019-11-19,1.1873,1.0782,1.156,1.076,1.125,1.0648,1.0495
2019-11-20,1.1876,1.0780,1.156,1.076,1.125,1.0652,1.0497
2019-11-21,1.1881,1.0784,1.157,1.077,1.126,1.0655,1.0499
2019-11-22,1.1881,1.0791,1.157,1.077,1.127,1.0652,1.0501

In [20]:
rfdf = fdf.pct_change().dropna()

In [21]:
print rfdf.shape
print rdf.shape

(10, 7)
(10, 5)

# 非负线性优化求解

In [22]:
decomp = pd.DataFrame(index=codes, columns=[u'0-1', u'1-3', u'3-5', u'5-7', u'7-10'])
decomp.index.name = u'基金代码'

In [23]:
def objective(coef, args):
    n = coef.size
    X, y = args[0], args[1]
    target = np.dot(X, coef)
#     error = np.sum(np.square(target - y)) + np.linalg.norm(coef, 2) # ridge error
    error = np.sum(np.square(target - y)) + np.linalg.norm(coef, 1) # lasso error
    return error / n

def decomposition(code):
    TOLERANCE = 1e-10
    n = rdf.shape[1]
    init_weights = np.array([1. / n] * n)
    X = rdf.values * 100
    y = rfdf[code].values * 100
    
    constraints = ({'type': 'eq', 'fun': lambda x: np.sum(x) - 1.0},
                   {'type': 'ineq', 'fun': lambda x: x})
    
    opt_res = minimize(fun=objective,
                       x0=init_weights,
                       args=[X, y],
                       constraints=constraints,
                       tol=TOLERANCE,
                       options={'disp': True})
    
    return opt_res.x

In [24]:
decomposition(codes[0])

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.200596205182
            Iterations: 23
            Function evaluations: 161
            Gradient evaluations: 23

array([ 6.12421879e-01,  2.25188791e-16,  3.87578121e-01, -9.14050194e-17,
        1.63985579e-18])

In [25]:
for c in codes:
    weight = decomposition(c)
    decomp.loc[c] = weight

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.200596205182
            Iterations: 23
            Function evaluations: 161
            Gradient evaluations: 23
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.201269685836
            Iterations: 18
            Function evaluations: 126
            Gradient evaluations: 18
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.202735757653
            Iterations: 20
            Function evaluations: 140
            Gradient evaluations: 20
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.202765289536
            Iterations: 19
            Function evaluations: 133
            Gradient evaluations: 19
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.2029585894
            Iterations: 28
            Function evaluations: 196
            Gradient evaluations: 28
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.222533647197
            Iterations: 16
            Function evaluations: 112
            Gradient evaluations: 16
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.200114518367
            Iterations: 20
            Function evaluations: 140
            Gradient evaluations: 20

In [26]:
decomp

                   0-1          1-3          3-5          5-7         7-10
基金代码
002549.OF     0.612422  2.25189e-16     0.387578  -9.1405e-17  1.63986e-18
004544.OF      0.91751    0.0824899 -1.43453e-17 -3.69984e-18 -4.83148e-18
070037.OF     0.660798     0.129381     0.209821   2.3124e-19 -5.83462e-17
519723.OF  3.33067e-16            1  7.04731e-17  4.09693e-17  7.75848e-17
000147.OF -1.72186e-17     0.195897     0.793946 -3.96721e-17    0.0101568
003358.OF -3.65338e-16 -1.04083e-16            1 -3.10771e-16 -4.73534e-17
070009.OF     0.984108 -2.62377e-17    0.0158916 -2.53432e-18  9.51387e-18

In [27]:
decomp[u'久期'] = decomp.dot(duration)

In [28]:
decomp[u'基金名称'] = fund_df[fund_df[u'代码'].isin(codes)][u'名称'].tolist()

In [29]:
decomp

,0-1,1-3,3-5,5-7,7-10,久期,基金名称
基金代码,,,,,,,
002549.OF,0.612422,2.25189e-16,0.387578,-9.1405e-17,1.63986e-18,1.71631,嘉实稳祥纯债A
004544.OF,0.91751,0.0824899,-1.43453e-17,-3.69984e-18,-4.83148e-18,0.665919,嘉实稳华纯债
070037.OF,0.660798,0.129381,0.209821,2.3124e-19,-5.83462e-17,1.37176,嘉实纯债A
519723.OF,3.33067e-16,1,7.04731e-17,4.09693e-17,7.75848e-17,2.0409,交银双轮动AB
000147.OF,-1.72186e-17,0.195897,0.793946,-3.96721e-17,0.0101568,3.30323,易方达高等级信用债A
003358.OF,-3.65338e-16,-1.04083e-16,1,-3.10771e-16,-4.73534e-17,3.5714,易方达7-10年国开行
070009.OF,0.984108,-2.62377e-17,0.0158916,-2.53432e-18,9.51387e-18,0.590437,嘉实超短债

In [30]:
decomp = decomp[[decomp.columns[-1]] + decomp.columns[:-1].tolist()]

In [31]:
decomp

,基金名称,0-1,1-3,3-5,5-7,7-10,久期
基金代码,,,,,,,
002549.OF,嘉实稳祥纯债A,0.612422,2.25189e-16,0.387578,-9.1405e-17,1.63986e-18,1.71631
004544.OF,嘉实稳华纯债,0.91751,0.0824899,-1.43453e-17,-3.69984e-18,-4.83148e-18,0.665919
070037.OF,嘉实纯债A,0.660798,0.129381,0.209821,2.3124e-19,-5.83462e-17,1.37176
519723.OF,交银双轮动AB,3.33067e-16,1,7.04731e-17,4.09693e-17,7.75848e-17,2.0409
000147.OF,易方达高等级信用债A,-1.72186e-17,0.195897,0.793946,-3.96721e-17,0.0101568,3.30323
003358.OF,易方达7-10年国开行,-3.65338e-16,-1.04083e-16,1,-3.10771e-16,-4.73534e-17,3.5714
070009.OF,嘉实超短债,0.984108,-2.62377e-17,0.0158916,-2.53432e-18,9.51387e-18,0.590437

In [32]:
decomp.to_excel(u'../data/债券基金收益率分解.xlsx')