In [136]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import minimize
from WindPy import w
from sklearn.linear_model import LinearRegression
import datetime
%matplotlib inline

In [137]:
w.start()

.ErrorCode=0
.Data=[Already conntected!]

In [138]:
end_date = datetime.datetime.today()
start_date = end_date - datetime.timedelta(60)

# 获取股票指数历史收益率

In [139]:
# codes = 'CI005917.WI,CI005919.WI,CI005018.WI,CI005916.WI' # 金融地产、消费、医药、科技
codes = '000934.SH,000931.CSI,000933.SH,000935.SH' # 中证金融地产、可选消费、必选医药、信息技术

In [140]:
data = w.wsd(codes, 'close', start_date, end_date)

In [141]:
df = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=data.Codes)

In [142]:
rdf = df.pct_change().dropna()

In [143]:
rdf.head()

            000934.SH  000931.CSI  000933.SH  000935.SH
2019-10-22   0.000063    0.007347   0.013637   0.017549
2019-10-23  -0.005821   -0.005418  -0.015698  -0.003861
2019-10-24   0.006960   -0.003131  -0.006278  -0.002888
2019-10-25  -0.001875    0.001981   0.011381   0.014107
2019-10-28   0.001059    0.009012   0.013833   0.038209

# 获取股票基金历史收益率

In [116]:
fund_df = pd.read_excel(u'../data/股票基金池.xlsx')
# fund_df = pd.read_excel(u'../data/嘉实股票基金池.xlsx')

In [117]:
fund_df

          代码               名称     市值占净值
0  160716.OF  嘉实基本面50指数(LOF)A  0.200000
1  110022.OF          易方达消费行业  0.200000
2  001717.OF         工银瑞信前沿医疗  0.199999
3  001071.OF          华安媒体互联网  0.199999
4  519069.OF         汇添富价值精选A  0.199999
5  163407.OF     兴全沪深300指数增强A  0.199998
6  519736.OF            交银新成长  0.199997
7  001938.OF          中欧时代先锋A  0.199997

In [118]:
codes = fund_df[u'代码'].tolist()

In [119]:
codes

[u'160716.OF',
 u'110022.OF',
 u'001717.OF',
 u'001071.OF',
 u'519069.OF',
 u'163407.OF',
 u'519736.OF',
 u'001938.OF']

In [120]:
data = w.wsd(codes, 'nav', start_date, end_date)

In [121]:
fdf = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=data.Codes)

In [144]:
fdf

,160716.OF,110022.OF,001717.OF,001071.OF,519069.OF,163407.OF,519736.OF,001938.OF
2019-10-21,1.6118,2.908,1.848,1.670,2.552,2.0199,2.512,1.4810
2019-10-22,1.6105,2.914,1.876,1.696,2.565,2.0221,2.526,1.4977
2019-10-23,1.6052,2.877,1.841,1.672,2.554,2.0114,2.498,1.4814
2019-10-24,1.6116,2.835,1.838,1.672,2.549,2.0099,2.493,1.4854
2019-10-25,1.6074,2.863,1.864,1.696,2.567,2.0146,2.510,1.5060
2019-10-28,1.6074,2.898,1.889,1.740,2.575,2.0253,2.525,1.5194
2019-10-29,1.6020,2.922,1.914,1.708,2.578,2.0191,2.517,1.4566
2019-10-30,1.5956,2.896,1.906,1.726,2.581,2.0136,2.521,1.4516
2019-10-31,1.5921,2.921,1.914,1.714,2.573,2.0123,2.510,1.4480
2019-11-01,1.6187,2.991,1.949,1.727,2.623,2.0424,2.547,1.4715
2019-11-04,1.6252,3.007,1.988,1.769,2.647,2.0578,2.577,1.4856
2019-11-05,1.6361,3.012,1.992,1.815,2.667,2.0731,2.582,1.4966
2019-11-06,1.6328,2.987,1.980,1.806,2.665,2.0671,2.571,1.4862
2019-11-07,1.6302,2.993,1.993,1.798,2.667,2.0731,2.583,1.5024
2019-11-08,1.6184,2.994,1.989,1.805,2.665,2.0677,2.577,1.5001
2019-11-11,1.5914,2.949,1.942,1.773,2.629,2.0337,2.537,1.4788
2019-11-12,1.5902,2.942,1.955,1.772,2.628,2.0363,2.533,1.4742
2019-11-13,1.5825,2.967,1.996,1.794,2.645,2.0263,2.543,1.4837
2019-11-14,1.5798,2.992,2.021,1.819,2.647,2.0251,2.547,1.5058
2019-11-15,1.5753,2.987,2.010,1.816,2.635,2.0177,2.536,1.5027
2019-11-18,1.5877,2.982,2.011,1.816,2.654,2.0377,2.554,1.5084
2019-11-19,1.5940,3.012,2.062,1.866,2.691,2.0531,2.592,1.5347
2019-11-20,1.5769,3.010,2.078,1.848,2.668,2.0325,2.566,1.5210
2019-11-21,1.5706,2.993,2.055,1.847,2.648,2.0233,2.554,1.5142
2019-11-22,1.5678,2.938,1.957,1.821,2.610,2.0070,2.538,1.4905
2019-11-25,1.5935,2.935,1.933,1.797,2.614,2.0238,2.552,1.4758
2019-11-26,1.5901,2.961,1.947,1.810,2.618,2.0275,2.560,1.4833
2019-11-27,1.5835,2.942,1.929,1.840,2.621,2.0178,2.542,1.4850
2019-11-28,1.5783,2.934,1.938,1.835,2.613,2.0136,2.529,1.4821
2019-11-29,1.5678,2.873,1.891,1.837,2.582,2.0029,2.513,1.4758
2019-12-02,1.5693,2.873,1.869,1.847,2.590,2.0036,2.514,1.4799
2019-12-03,1.5743,2.886,1.856,1.860,2.594,2.0067,2.516,1.4847
2019-12-04,1.5683,2.905,1.875,1.871,2.596,2.0014,2.516,1.4774
2019-12-05,1.5749,2.906,1.897,1.889,2.626,2.0141,2.541,1.4963
2019-12-06,1.5780,2.958,1.908,1.894,2.647,2.0280,2.551,1.5112
2019-12-09,1.5827,2.944,1.868,1.897,2.628,2.0260,2.557,1.5079
2019-12-10,1.5800,2.947,1.895,1.908,2.652,2.0315,2.568,1.5190
2019-12-11,1.5880,2.923,1.888,1.889,2.651,2.0344,2.568,1.5152
2019-12-12,1.5835,2.908,1.887,1.884,2.645,2.0317,2.560,1.5146
2019-12-13,1.6122,2.957,1.926,1.910,2.690,2.0691,2.598,1.5360
2019-12-16,1.6138,2.941,1.935,1.942,2.696,2.0782,2.641,1.5593
2019-12-17,1.6337,2.964,1.950,1.963,2.725,2.1017,2.675,1.5807
2019-12-18,1.6312,2.962,1.919,1.963,2.711,2.0970,2.660,1.5777
2019-12-19,1.6312,2.962,1.919,1.963,2.711,2.0970,2.660,1.5777

In [122]:
fdf = fdf.dropna(axis=1)

In [123]:
rfdf = fdf.pct_change().dropna()

In [124]:
codes = rfdf.columns.tolist()

In [125]:
print rfdf.shape
print rdf.shape

(43, 8)
(43, 4)

# 非负线性优化求解

In [126]:
# decomp = pd.DataFrame(index=codes, columns=[u'金融地产', u'消费', u'医药', u'科技'])
decomp = pd.DataFrame(index=codes, columns=[u'金融地产', u'可选消费', u'必选医药', u'科技'])
decomp.index.name = u'基金代码'

In [127]:
def objective(coef, args):
    n = coef.size
    X, y = args[0], args[1]
    target = np.dot(X, coef)
#     error = np.sum(np.square(target - y))
    error = np.sum(np.square(target - y)) + np.linalg.norm(coef, 1) # lasso error
    return error / n

def decomposition(code):
    TOLERANCE = 1e-10
    n = rdf.shape[1]
    init_weights = np.array([1. / n] * n)
    X = rdf.values
    y = rfdf[code].values
    
    constraints = ({'type': 'eq', 'fun': lambda x: np.sum(x) - 1.0},
                   {'type': 'ineq', 'fun': lambda x: x})
    
    opt_res = minimize(fun=objective,
                       x0=init_weights,
                       args=[X, y],
                       constraints=constraints,
                       tol=TOLERANCE,
                       options={'disp': True})
    
    return opt_res.x

In [128]:
decomposition(codes[0])

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.250060302394
            Iterations: 17
            Function evaluations: 102
            Gradient evaluations: 17

array([8.75637224e-01, 1.24362776e-01, 3.54398585e-18, 1.38235777e-18])

In [129]:
for c in codes:
    weight = decomposition(c)
    decomp.loc[c] = weight

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.250060302394
            Iterations: 17
            Function evaluations: 102
            Gradient evaluations: 17
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.250297960101
            Iterations: 18
            Function evaluations: 108
            Gradient evaluations: 18
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.250352824398
            Iterations: 15
            Function evaluations: 90
            Gradient evaluations: 15
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.250430858635
            Iterations: 17
            Function evaluations: 102
            Gradient evaluations: 17
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.250129487271
            Iterations: 18
            Function evaluations: 108
            Gradient evaluations: 18
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.250051503472
            Iterations: 24
            Function evaluations: 144
            Gradient evaluations: 24
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.250137712444
            Iterations: 18
            Function evaluations: 108
            Gradient evaluations: 18
Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.250287801833
            Iterations: 22
            Function evaluations: 132
            Gradient evaluations: 22

In [130]:
decomp[u'基金名称'] = fund_df[fund_df[u'代码'].isin(codes)][u'名称'].tolist()

In [131]:
if u'市值占净值' in fund_df.columns:
    decomp[u'市值占净值'] = fund_df[fund_df[u'代码'].isin(codes)][u'市值占净值'].tolist()

In [132]:
decomp = decomp[decomp.columns[4:].tolist() + decomp.columns[:4].tolist()]

In [133]:
decomp

,基金名称,市值占净值,金融地产,可选消费,必选医药,科技
基金代码,,,,,,
160716.OF,嘉实基本面50指数(LOF)A,0.200000,0.875637,0.124363,3.54399e-18,1.38236e-18
110022.OF,易方达消费行业,0.200000,0.0089836,0.45316,0.537856,-2.90702e-18
001717.OF,工银瑞信前沿医疗,0.199999,-8.01225e-17,1.07798e-16,1,3.46945e-17
001071.OF,华安媒体互联网,0.199999,0.205873,5.14996e-19,0.0768978,0.71723
519069.OF,汇添富价值精选A,0.199999,0.475879,0.0720682,0.38587,0.0661831
163407.OF,兴全沪深300指数增强A,0.199998,0.659261,0.123575,0.180382,0.0367824
519736.OF,交银新成长,0.199997,0.479525,0.140117,0.218163,0.162195
001938.OF,中欧时代先锋A,0.199997,0.356267,-1.61817e-17,0.0988749,0.544858

In [134]:
if u'市值占净值' in fund_df.columns:
    decomp = decomp.append(pd.DataFrame([['', '',
                           np.dot(decomp[u'金融地产'], fund_df[u'市值占净值']) / fund_df[u'市值占净值'].sum(),
                           np.dot(decomp[u'可选消费'], fund_df[u'市值占净值']) / fund_df[u'市值占净值'].sum(),
                           np.dot(decomp[u'必选医药'], fund_df[u'市值占净值']) / fund_df[u'市值占净值'].sum(),
                           np.dot(decomp[u'科技'], fund_df[u'市值占净值']) / fund_df[u'市值占净值'].sum(), 
                           ]], index=[u'组合'], columns=decomp.columns))

In [135]:
decomp.to_excel(u'../data/股票基金收益率分解.xlsx')
# decomp.to_excel(u'../data/嘉实股票基金收益率分解.xlsx')